

.formDiv{
    width: 40vw;
    height: 60vh;
    background-color: rgb(29, 114, 189);
    margin:  100px auto 0 auto;
    display: block;
    border-radius: 25px;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.438);
    z-index: 10;
    padding: 50px 0;
   
}

input , textarea{
    margin: 20px auto;
    display: block;
    width: 80%;
    height: 6vh;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    padding: 0 15px;
}

textarea{
    height: 20vh;
}

.button{
    display: flex;
    
}

.button input{
    width: 13vw;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

.cencel{
    background-color: rgba(218, 205, 24, 0.733);
}

.cencel:hover{
    background-color: rgb(255, 238, 0);
}

.send{
    background-color: rgba(19, 233, 19, 0.712);
}
.send:hover{
    background-color: rgb(0, 255, 13);
}
